/* Importa as fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

/* Define a fonte, cor de fundo e imagem de fundo para o body */
body {
    font-family: 'Inter', sans-serif;
    background-image: url(../img/fundo.jpg);
}

/* Centralize e defina o estilo da caixa que contém o formulário */
div {
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 20px;
    color: rgb(0, 0, 0);
}

/* Defina o estilo para os labels do formulário e para a imagem */
form label,
form img {
    display: inline-block;
    vertical-align: middle;
}

/* Defina o estilo para as entradas do formulário */
input {
    padding: 5px;
    font-size: 15px;
}

/* Defina o estilo para o botão de envio do formulário */
.inputSubmit {
    border: none;
    outline: none;
    background-color: rgb(107, 99, 255);
    padding: 10px;
    width: 30%;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 2px;
}

/* Defina o estilo do botão de envio do formulário quando o cursor passar por cima */
.inputSubmit:hover {
    background-color: hsla(243, 100%, 69%, 0.945);
    cursor: pointer;
}

/* Defina o estilo para links */
a {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

/* Defina o estilo para links quando o cursor passar por cima */
a:hover {
    color: rgba(107, 99, 255, 0.945);
}