body {
  font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
  background-image: linear-gradient(to right, rgb(181, 181, 248), rgb(108, 99, 255));
  text-align: center;
}

.navbar-brand {
  margin-left: 5%;
  margin-right: 20%;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.navbar-nav>li {
  margin-right: 15px;
  /* adiciona um espaçamento de 15px à direita de cada item do menu */
}

.nav-link {
  display: flex;
  justify-content: space-between;
  color: black;
  transition: transform 0.5s;
}

.nav-link:hover,
.nav-link:focus {
  transform: translateX(2px) scale(1.1);
  transition: 0.5s;
}

.navbar-brand:hover,
.navbar-brand:focus {
  transform: translateX(2px) scale(1.1);
  transition: 0.5s;
}

.btn {
  width: 70px;
  border-radius: 10px;
}

.graficos-container {
  background-image: linear-gradient(to right, rgb(255, 241, 204), rgb(253, 234, 166));
  margin: auto;
  justify-content: space-between;
  display: flex;
  border: 1.5px solid black;
  border-radius: 12px;
  width: 68%;
  height: 40%;
  margin-top: 0.5%;
}

h3 {
  text-align: center;
  justify-content: center;
  font-size: 22px;
  margin: 1% 5% 0% 5%;
}

.grafico1 {
  background-image: linear-gradient(to left, rgb(255, 241, 204), rgb(240, 200, 125));
  font-size: 26px;
  width: 50%;
  height: 100%;
  border-radius: 12px 0 0 12px;
}

.grafico2 {
  background-image: linear-gradient(to right, rgb(253, 234, 166), rgb(240, 200, 125));
  font-size: 26px;
  width: 50%;
  height: 100%;
  border-radius: 0 12px 12px 0;
}

.boxes {
  background-color: rgba(253, 234, 166, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 68%;
  margin: auto;
  margin-top: 0.5%;
  border: 1px solid #1d1d1d;
  border-radius: 12px;
  padding: 20px;
}

.boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: 17%;
  padding: 15px 20px;
  margin-bottom: 10px;
  background-color: rgb(255, 241, 204);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}


.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: rgb(49, 48, 48);
}

.boxes .box .value {
  font-size: 20px;
  font-weight: 500;
  color: rgb(69, 98, 194);
}

.boxes .box.box2 {
  background-color: rgb(240, 220, 180);
}

.boxes .box.box2 .value {
  font-size: 22px;
}

.box:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

@media screen and (max-width: 1680px) {

  .navbar-brand {
    font-size: 1.8rem;
  }

  .navbar-nav>li {
    margin-right: 8px;
    /* adiciona um espaçamento de 20px à direita de cada item do menu */
  }

  .navbar-nav>li a {
    font-size: 1rem;
    margin-left: 7%;
    margin-right: 14%;
    /* adiciona um espaçamento de 15px à direita de cada item do menu */
  }

  .boxes {
    width: 80%;
  }

  .boxes .box {
    width: 17%;
  }

  .boxes .box .text {
    font-size: 16px;
  }

  .boxes .box .value {
    font-size: 18px;
  }

  .welcome h3 {
    font-size: 16px;
  }

  .graficos-container {
    width: 80%;
    height: 40%;

  }

  .grafico1,
  .grafico2 {
    font-size: 22px;
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 1440px) {

  .navbar-brand {
    font-size: 1.6rem;
    margin-left: 7%;
    margin-right: 14%;
  }

  .navbar-nav>li a {
    font-size: 0.8rem;
    margin-right: 2%;
    /* adiciona um espaçamento de 15px à direita de cada item do menu */
  }

  .navbar-nav>li {
    margin-right: 8px;
    /* adiciona um espaçamento de 20px à direita de cada item do menu */
  }

  .boxes {
    width: 80%;
  }

  .boxes .box {
    width: 17%;
  }

  .boxes .box .text {
    font-size: 14px;
  }

  .boxes .box .value {
    font-size: 16px;
  }

  .welcome h3 {
    font-size: 14px;
  }

  .graficos-container {
    width: 80%;
    height: 45%;
  }

  .grafico1,
  .grafico2 {
    font-size: 18px;
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-brand {
    font-size: 1.4rem;
    margin-left: 7%;
    margin-right: 14%;
  }

  .navbar-nav>li {
    margin-right: 6px;
    /* adiciona um espaçamento de 20px à direita de cada item do menu */
  }

  .navbar-nav>li {
    font-size: 0.8rem;
    margin-right: 2%;
    /* adiciona um espaçamento de 15px à direita de cada item do menu */
  }

  .boxes {
    width: 70%;
  }

  .boxes .box {
    width: 17%;
  }

  .boxes .box .text {
    font-size: 12px;
  }

  .boxes .box .value {
    font-size: 14px;
  }

  .welcome h3 {
    font-size: 12px;
  }

  .graficos-container {
    width: 70%;
    height: 50%;
  }

  .grafico1,
  .grafico2 {
    font-size: 16px;
    width: 50%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .navbar-brand {
    font-size: 0.8rem;
    margin-left: 7%;
    margin-right: 14%;
  }

  .navbar-nav>li {
    margin-right: 6px;
    /* adiciona um espaçamento de 20px à direita de cada item do menu */
  }

  .navbar-nav>li>a {
    font-size: 0.6rem;
  }

  .boxes {
    font-size: 8px;
    width: 90%;
  }

  .boxes .box {
    width: 180px;
  }

  .boxes .box .text {
    font-size: 8px;
  }

  .boxes .box .value {
    font-size: 9px;
  }

  .welcome h3 {
    font-size: 8px;
  }

  .graficos-container {
    width: 90%;
    height: 50%;
  }

  .grafico1,
  .grafico2 {
    font-size: 14px;
  }
}